[Unit]
Description=Servicio que ejecute script graficos_regado.py

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/graficos_regado.py
WorkingDirectory=/usr/bin/

[Install]
WantedBy=multi-user.target
